@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(68, 68, 68, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-r-header.is-open .e-r-header-background {
  left: 0;
}
.e-r-header-button-wrapper {
  margin-left: auto;
}
.e-r-header-icon {
  display: none;
}

.e-r-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-r-navigation-list.is-open {
  right: 0;
}
.e-r-header-icon-menu {
  display: block;
}

.e-r-header-icon-button.is-open .e-r-header-icon-menu {
  display: none;
}

.e-r-header-icon-button.is-open .e-r-header-icon-close {
  display: block;
}

.e-r-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(255, 255, 255, 1);

  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.e-r-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);

  border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.e-r-header.is-open .e-r-header-background {
  left: 0;
}
.e-r-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-r-header-icon-menu {
  display: block;
}

.e-r-header-icon-button.is-open .e-r-header-icon-menu {
  display: none;
}

.e-r-header-icon-button.is-open .e-r-header-icon-close {
  display: block;
}

.e-r-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.e-r-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 792px;
  transition: 0.3s;
  z-index: 999;
  padding: 24px;
  gap: 10px;
  background: rgba(255, 255, 255, 1);
}

.e-r-navigation-list.is-open {
  right: 0;
}

.e-r-navigation-link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(68, 68, 68, 1);
  border: 1px solid rgba(68, 68, 68, 1);
  border-radius: 8px;
  padding: 12px;
  display: block;
}

.e-r-navigation-link:hover,
.e-r-navigatioт-link:focus {
  background: rgba(68, 68, 68, 1);
  color: rgba(255, 255, 255, 1);
}

.e-r-header.is-open {
  background-color: transparent;
}

.e-r-navigation-img {
  display: none;
}

@media screen and (min-width: 1195px) {
  .e-r-header-button-wrapper {
    display: none;
  }
  .e-r-policy-terms-header-icon-menu {
    display: none;
  }

  .e-r-header {
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1000;
  }

  .e-r-header-background {
  }
  .e-r-header-icon-button {
    display: none;
  }
  .e-r-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-r-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    padding: 0;
    padding-left: 10px;

    align-items: center;
    justify-content: center;
  }

  .e-r-navigation-item-desk {
    display: none;
  }
}

.e-r-home {
  width: 375px;
  height: 1032px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home.png");
  margin: auto;
}
.e-r-home-container {
  width: 375px;
  padding: 96px 20px 0px;
  margin: auto;
}

.e-r-home-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.e-r-home-title-q {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 326px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
@media screen and (min-width: 1195px) {
  .e-r-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/Home\ \(1\).png");
  }
  .e-r-home-container {
    width: 1440px;
    padding: 136px 80px 0px 720px;
    position: relative;
  }

  .e-r-home-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .e-r-home-title-q {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}

.e-r-why-container {
  width: 375px;
  height: 1599px;
  margin: auto;
  padding: 64px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Il\ processo.png");
}

.e-r-why-list {
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.e-r-why-item {
  width: 197px;
  height: 208px;
  display: flex;
  flex-direction: row;
  align-items: start;

  gap: 8px;
}
.e-r-why-img {
  width: 20px;
  height: 20px;
}
.e-r-why-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
}
.e-r-why-itemq {
  margin-left: auto;
  height: 228px;
}
.e-r-why-iteme {
  height: 247px;
}
.e-r-why-iter {
  margin-left: auto;
}
.e-r-why-itemt {
  height: 248px;
}
.e-r-why-itemw {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: start;

  gap: 8px;
}
.e-r-why-text-bold {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 32px;
}
@media screen and (min-width: 1195px) {
  .e-r-why-container {
    width: 1440px;
    height: 728px;
    margin: auto;
    padding: 88px 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Il\ processo\ \(1\).png");
  }
  .e-r-why-text-bold {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;

    padding-top: 48px;
  }

  .e-r-why-list {
    padding: 60px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 337px;
    row-gap: 150px;
    justify-content: center;
  }
  .e-r-why-item {
    width: 197px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0;
    gap: 8px;
  }
  .e-r-why-img {
    width: 20px;
    height: 20px;
  }
  .e-r-why-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
  }
  .e-r-why-itemw {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: start;

    gap: 8px;
  }
}

.e-r-about {
  margin: auto;
  width: 375px;
  height: 1800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Filosofia.png");
}
.e-r-about-container {
  width: 375px;
  padding: 64px 20px 0px;
  margin: auto;
}
.e-r-about-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.e-r-about-title-three {
  text-align: center;
}
.e-r-about-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.e-r-about-texttwo {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 1420px;
}
@media screen and (min-width: 1195px) {
  .e-r-about {
    width: 1440px;
    height: 984px;
    background-image: url("/img/Filosofia\ \(1\).png");
  }
  .e-r-about-container {
    width: 1440px;
    padding: 88px 80px 0;
  }
  .e-r-about-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: left;
  }
  .e-r-about-title-two {
    text-align: center;
  }
  .e-r-about-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 500px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .e-r-about-texttwo {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 672px;
    width: 796px;
  }
}
.e-r-about-one {
  margin: auto;
  background: rgba(245, 236, 239, 1);
}
.e-r-about-container-one {
  width: 375px;
  height: 1109px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Il\ nome.png");

  padding: 64px 20px 0px;
  margin: auto;
}

.e-r-about-list-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

@media screen and (min-width: 1195px) {
  .e-r-about-container-one {
    padding: 88px 80px;
    width: 1440px;
    height: 769px;
    background-image: url("/img/Il\ nome\ \(1\).png");
  }

  .e-r-about-list-one {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 612px;
  }
  .e-r-about-one-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 830px;
  }
}
.e-r-about-two {
  margin: auto;
  width: 375px;
  height: 1195px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Non\ vendiamo\ moda.png");
}
.e-r-about-container-two {
  width: 375px;
  padding: 64px 20px 0px;
  margin: auto;
}

.e-r-about-text-two-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-top: 40px;
}
@media screen and (min-width: 1195px) {
  .e-r-about-two {
    margin: auto;
    width: 1440px;
    height: 1013px;

    background-image: url("/img/Non\ vendiamo\ moda\ \(1\).png");
  }
  .e-r-about-container-two {
    width: 1440px;
    padding: 88px 80px;
  }

  .e-r-about-text-two-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    padding-top: 60px;
  }
  .e-r-about-title-two {
    text-align: center;
  }
}

.e-r-questions-container {
  width: 375px;
  height: 864px;
  padding: 395px 60px 0 40px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/pagetwo/Frame\ 1707481812.png");
}

.e-r-questions-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
}

@media screen and (min-width: 1195px) {
  .e-r-questions-container {
    width: 1440px;
    height: 800px;
    padding: 461px 790px 0 172px;
    margin: auto;
    background-image: url("/img/pagetwo/Home\ \(2\).png");
  }

  .e-r-questions-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
  }
}
.e-r-support-container {
  width: 375px;
  height: 1466px;
  padding: 64px 20px 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/pagetwo/Per\ la\ casa.png");
}

.e-r-support-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 40px;
}

@media screen and (min-width: 1195px) {
  .e-r-support-container {
    width: 1440px;
    height: 769px;
    padding: 88px 80px 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/pagetwo/Per\ la\ casa\ \(1\).png");
  }

  .e-r-support-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    width: 612px;
    padding-top: 40px;
  }
}
.e-r-helpdesk {
  background: rgba(245, 236, 239, 1);
}
.e-r-helpdesk-container {
  width: 375px;
  height: 1181px;
  padding: 64px 20px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/pagetwo/Ordini\ e\ attese.png");
}

.e-r-helpdesk-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 40px;
}

@media screen and (min-width: 1195px) {
  .e-r-helpdesk-container {
    width: 1440px;
    height: 1013px;
    padding: 88px 80px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/pagetwo/Non\ vendiamo\ moda\ \(2\).png");
  }

  .e-r-helpdesk-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding-top: 60px;
  }
}
.e-r-inquiry-container {
  width: 375px;
  height: 1352px;
  padding: 100px 20px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/three/Frame\ 1707481814.png");
}

.e-r-inquiry-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  gap: 28px;
}

@media screen and (min-width: 1195px) {
  .e-r-inquiry-container {
    width: 1440px;
    height: 800px;
    padding: 136px 720px 0 80px;
    margin: auto;
    background-image: url("/img/three/Home\ \(3\).png");
  }
  .e-r-inquiry-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    gap: 28px;
  }
}
.e-r-person {
  background: rgba(245, 236, 239, 1);
}
.e-r-person-container {
  width: 375px;
  padding: 64px 20px;
  margin: auto;
}

.e-r-person-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.e-r-person-item {
  width: 335px;
  overflow: hidden;
  position: relative;
}
.e-r-person-item-img {
  width: 335px;
  object-fit: cover;
  object-position: center;
}
.e-r-persontext {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 24px 0 16px;
}
.e-r-persontextb {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1195px) {
  .e-r-person-container {
    width: 1440px;
    padding: 88px 80px;
    margin: auto;
  }

  .e-r-person-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 28px;
  }
  .e-r-person-item {
    width: 408px;
    overflow: hidden;
    position: relative;
  }
  .e-r-person-item-img {
    width: 408px;
    object-fit: cover;
    object-position: center;
  }
  .e-r-persontext {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 24px 0 16px;
  }
  .e-r-persontextb {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
}

.e-r-reviews {
  margin: auto;
  background: rgba(245, 236, 239, 1);
}
.e-r-reviews-container {
  margin: auto;
  padding: 64px 20px 0;
  width: 375px;
  height: 1101px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Cosa\ creiamo.png");
}
.e-r-reviews-list {
  padding: 581px 0px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.e-r-reviews-item {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.e-r-reviews-item span {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1195px) {
  .e-r-reviews-container {
    margin: auto;
    padding: 88px 80px 0;
    width: 1440px;
    height: 663px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/Cosa\ creiamo\ \(1\).png");
  }
  .e-r-reviews-list {
    padding: 247px 0px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 566px;

    margin-left: auto;
  }
}
.e-r-gallery {
  background: rgba(255, 245, 226, 1);
}
.e-r-gallery-container {
  width: 375px;
  height: 1497px;
  margin: auto;
  padding: 64px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Perché\ selvaggia_.png");
}

.e-r-gallery-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

@media screen and (min-width: 1195px) {
  .e-r-gallery-container {
    width: 1440px;
    height: 769px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/Perché\ selvaggia_\ \(1\).png");
    padding: 88px 80px 0 728px;
  }

  .e-r-gallery-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
}

.e-r-features {
  margin: auto;
  width: 375px;
  height: 1166px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/three/Frame\ 1707481815.png");
}
.e-r-features-container {
  width: 375px;
  margin: auto;
  padding: 100px 20px 0;
}
.e-r-features-q {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;

  padding: 40px 0 20px;
}

.e-r-features-textt {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.e-r-features-text-bolds {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: rgba(68, 68, 68, 1);
  text-decoration: none;
}
.e-r-features-text-bold {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.e-r-features-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 36px;
}
.e-r-features-input {
  border: 1px solid rgba(196, 196, 196, 1);
  background: rgba(245, 245, 245, 1);
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: justify;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}
.e-r-features-textarea {
  height: 126px;
}
.e-r-features-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid rgba(68, 68, 68, 1);
  width: 335px;
  border-radius: 24px;
  padding: 20px 0;
  gap: 8px;
}
.e-r-features-button p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  leading-trim: Cap height;
  line-height: 16px;
  letter-spacing: -5%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 1);
}
@media screen and (min-width: 1195px) {
  .e-r-features {
    margin: auto;
    width: 1440px;
    height: 861px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/three/Home\ \(4\).png");
  }
  .e-r-features-container {
    width: 1440px;
    margin: auto;
    padding: 136px 822px 0 80px;
  }

  .e-r-features-q {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;

    padding: 60px 0 20px;
  }

  .e-r-features-textt {
    font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }

  .e-r-features-text-bolds {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: capitalize;

    text-decoration: none;
  }
  .e-r-features-text-bold {
    padding-top: 20px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .e-r-features-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 36px;
  }
  .e-r-features-input {
    border: 1px solid rgba(196, 196, 196, 1);
    background: rgba(245, 245, 245, 1);
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: justify;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  }
  .e-r-features-textarea {
    height: 126px;
  }
  .e-r-features-button {
    width: 538px;
    border-radius: 24px;
    border-width: 1px;
  }
  .e-r-features-button p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    leading-trim: Cap height;
    line-height: 16px;
    letter-spacing: -5%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(68, 68, 68, 1);
  }
}

.e-r-container {
  padding: 104px 20px 40px;
  width: 375px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
  color: rgba(13, 13, 13, 1);
  margin: auto;
}

.e-r-container h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.e-r-container h2 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}

.e-r-container h3 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
}

.e-r-container ul {
  margin-top: 10px;
}

.e-r-container ul li {
  margin-bottom: 10px;
}
.e-r-container p {
  margin-top: 10px;
}
.e-r-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.e-r-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1195px) {
  .e-r-container {
    padding: 144px 66px 40px;
    width: 1440px;
    margin: auto;
  }
  .e-r-container h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.e-r-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgba(36, 36, 36, 1);

  color: rgba(248, 248, 248, 1);
}
.e-r-footer-container-div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.e-r-footer-container-div-t {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.e-r-footer-container-div-tt {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0px;

  padding-top: 12px;
  width: 176px;
}
.e-r-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.e-r-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;

  color: rgba(144, 149, 145, 1);
}
.e-r-footer-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  column-gap: 32px;
  height: 130px;
}
.e-r-footer-text-bolds {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  font-variant-numeric-figure: oldstyle-nums;
  font-variant-numeric-spacing: proportional-nums;

  width: 143px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.e-r-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.e-r-footer-text-boldsa {
  width: 159px;
}
@media screen and (min-width: 1195px) {
  .e-r-footer-container {
    width: 1440px;
    margin: auto;
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;

    color: rgba(255, 255, 255, 1);
  }
  .e-r-footer-container-div {
    display: flex;
    align-items: center;
    gap: 90px;
  }
  .e-r-footer-container-div-t {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }
  .e-r-footer-container-div-tt {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;

    padding-top: 8px;
    width: 305px;
  }
  .e-r-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .e-r-footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .e-r-footer-text-bold {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    gap: 12px;
    column-gap: 69px;
    height: 110px;
    margin-left: 39px;
  }
  .e-r-footer-text-bolds {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    width: 297px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  .e-r-footer-text-boldsa {
    width: 279px;
    color: rgba(144, 149, 145, 1);
  }
  .e-r-footer-copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 20px;
    color: rgba(144, 149, 145, 1);
  }
}

.e-r-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 18px 10px;
  background: rgba(10, 10, 10, 1);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);

  z-index: 1000;
  display: none;
}

.e-r-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
}

.e-r-cookie-button-container {
  padding: 36px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.e-r-cookie-button {
  border: none;
  background-color: transparent;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;

  color: rgba(255, 255, 255, 1);
  width: 180px;
}

#accept-cookies {
  background: rgba(131, 188, 69, 1);

  width: 178px;
  border-radius: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.e-r-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1195px) {
  .e-r-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-r-cookie-popup-text-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 940px;
  }

  .e-r-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .e-r-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 40px;
    display: none;
  }
}
